In [ ]:
# If else statement
# example
score = int(input('Input Score: '))
if 90 <= score <= 100:
    grade = 'A'
elif 80 <= score < 90:
    grade = 'B'
elif 70 <= score < 80:
    grade = 'C'
elif 60 <= score < 70:
    grade = 'D'
else:
    grade = 'F'
print("Grade is " + grade)

In [ ]:
# Boolean example
bool(False)

In [ ]:
bool(13)

In [ ]:
bool(0.0)

In [ ]:
bool('apple')

In [ ]:
bool('')

In [ ]:
bool(0)

In [ ]:
bool([10,20])

In [ ]:
# and / or statement

In [ ]:
# filter statement
def GetBiggerThan20(i):
    return i > 20

L = [10, 25, 30]
IterL = filter(GetBiggerThan20, L)
for i in IterL:
    print("Item:{0}".format(i))

In [ ]:
# Importing modules
import os

In [ ]:
# Can list up functions available in specified module
dir(os)

In [ ]:
import math
dir(math)

In [ ]:
# 4 ways to import moudles (1st, 4th recommended)
# import <module>
# from <module> import <attirbute>
# from <module> import *
# import <module> as <alias>

In [ ]:
dir(__builtins__)
# No need to import

In [ ]:
# Many Modules which is availabe.. (Can see at summary txt file)

In [ ]:
# Printing output
import sys
sys.stdout.write("test")

In [ ]:
sys.stdout.write("pyo")

In [ ]:
msg = "Hello"
print(msg + " Daniel")
sys.stdout.write(msg + " Daniel\n")
sys.stdout.write("안녕하세요 ㅎㅎ")

In [ ]:
key = input("insert your name:")

In [ ]:
print(key)

In [ ]:
# !<os command>
!mkdir test2

In [ ]:
# / does not permitted in windows
!mkdir C:/Users/student/Desktop/multicamplus/multi-python/code/test3

In [ ]:
!mkdir C:\Users\student\Desktop\multicamplus\multi-python\code\test3

In [ ]:
f = open('test2/test.txt','w')

In [ ]:
print('file write test...', file = f)
f.close()

In [ ]:
f1 = open('test2/test.txt')
f1.read()

In [ ]:
f1.closed

In [ ]:
f1.close()

In [ ]:
############ NumPy
# ndarray
import numpy as np
data = np.random.randn(2,3) # row, column
print(data)

In [ ]:
# Broadcasting (elementwise)
data * 10

In [ ]:
# elementwise add
data + data

In [ ]:
# ndarray's row and column (since it is 2D array... in case of 1D array will show 1 dimensional shape)
data.shape

In [ ]:
# ndarray's type
data.dtype

In [ ]:
np.arange(1,3,1)

In [ ]:
np.arange(-10, -2, 2)

In [ ]:
# add elementwise
a = np.array([1,2])
b = np.array([1,2])
print(a+b)

In [ ]:
# elementwise multiplication
arr = np.array([1,2,3,4,5])
arr * 2

In [ ]:
# array inner product (dot product)
a = np.array([1,2,3,4,5])
b = np.array([2,4,6,8,10])
print(sum(a*b))

In [ ]:
### NumPy Practice

In [1]:
import numpy as np

In [2]:
data1 = [10,9.9, 9.8, 9.7, 11]

In [3]:
print(data1)

[10, 9.9, 9.8, 9.7, 11]

In [4]:
arr1 = np.array(data1)

In [5]:
print(arr1)

[ 10.    9.9   9.8   9.7  11. ]

In [6]:
print(arr1.shape)

(5,)

In [7]:
print(np.zeros( (3,5) ))

[[ 0.  0.  0.  0.  0.]
 [ 0.  0.  0.  0.  0.]
 [ 0.  0.  0.  0.  0.]]

In [8]:
print(np.zeros(5))

[ 0.  0.  0.  0.  0.]

In [9]:
print(np.ones(5))

[ 1.  1.  1.  1.  1.]

In [10]:
print(np.ones((3,5)))

[[ 1.  1.  1.  1.  1.]
 [ 1.  1.  1.  1.  1.]
 [ 1.  1.  1.  1.  1.]]

In [11]:
data2 = [[1, 3, 5], [2, 4, 6]]

In [12]:
print(data2)

[[1, 3, 5], [2, 4, 6]]

In [13]:
arr2 = np.array(data2)

In [14]:
arr2.shape

(2, 3)

In [15]:
arr2.dtype

dtype('int32')

In [16]:
# range function iin return of np array type
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [19]:
arr = np.array([1,2,3,4,5], dtype = np.int64)

In [20]:
arr

array([1, 2, 3, 4, 5], dtype=int64)

In [21]:
arr.dtype

dtype('int64')

In [25]:
# changing data type
float_arr = arr.astype(np.float64)

In [26]:
float_arr

array([ 1.,  2.,  3.,  4.,  5.])

In [27]:
float_arr.dtype

dtype('float64')

In [33]:
arr1 = np.array([[1,2,3],[4,5,6]], dtype = np.float64)

In [35]:
arr2 = np.array([[7,8,9],[10,11,12]], dtype = np.float64)

In [36]:
arr1

array([[ 1.,  2.,  3.],
       [ 4.,  5.,  6.]])

In [37]:
arr2

array([[  7.,   8.,   9.],
       [ 10.,  11.,  12.]])

In [38]:
arr1 + arr2

array([[  8.,  10.,  12.],
       [ 14.,  16.,  18.]])

In [39]:
arr1 * arr2

array([[  7.,  16.,  27.],
       [ 40.,  55.,  72.]])

In [41]:
arr1  * 2

array([[  2.,   4.,   6.],
       [  8.,  10.,  12.]])

In [42]:
arr1 ** 2

array([[  1.,   4.,   9.],
       [ 16.,  25.,  36.]])

In [44]:
names = np.array(["pyo", "sunyoung", "psy", "pyo", "sunyoung", "sunny", "sunyoung"])
data = np.random.randn (7,4)

In [45]:
names

array(['pyo', 'sunyoung', 'psy', 'pyo', 'sunyoung', 'sunny', 'sunyoung'],
      dtype='<U8')

In [46]:
data

array([[ 0.04277156, -0.45822303,  0.91734656, -0.58367486],
       [ 0.36999085,  0.51460615,  0.92337937,  0.5457696 ],
       [ 0.52096228,  0.19831578,  1.07827317, -0.1932547 ],
       [-1.00084012, -0.60789193, -0.26654601, -1.43302461],
       [-1.07776168,  0.75038408,  0.63295958,  0.08179247],
       [ 1.17908527, -1.00034993, -0.46601618,  1.524507  ],
       [-2.0005997 ,  0.26020164,  0.12927651,  0.11812361]])

In [47]:
names == 'sunyoung'

array([False,  True, False, False,  True, False,  True], dtype=bool)

In [48]:
# array slicing with boolean masking
data[names == 'sunyoung',:]

array([[ 0.36999085,  0.51460615,  0.92337937,  0.5457696 ],
       [-1.07776168,  0.75038408,  0.63295958,  0.08179247],
       [-2.0005997 ,  0.26020164,  0.12927651,  0.11812361]])

In [49]:
data[names == 'pyo', :]

array([[ 0.04277156, -0.45822303,  0.91734656, -0.58367486],
       [-1.00084012, -0.60789193, -0.26654601, -1.43302461]])

In [51]:
data[(names == 'pyo') | (names == 'sunyoung'), :]

array([[ 0.04277156, -0.45822303,  0.91734656, -0.58367486],
       [ 0.36999085,  0.51460615,  0.92337937,  0.5457696 ],
       [-1.00084012, -0.60789193, -0.26654601, -1.43302461],
       [-1.07776168,  0.75038408,  0.63295958,  0.08179247],
       [-2.0005997 ,  0.26020164,  0.12927651,  0.11812361]])

In [52]:
data[:,3]

array([-0.58367486,  0.5457696 , -0.1932547 , -1.43302461,  0.08179247,
        1.524507  ,  0.11812361])

In [53]:
data[:,3] < 0

array([ True, False,  True,  True, False, False, False], dtype=bool)

In [54]:
data[data[:,3] < 0, :]

array([[ 0.04277156, -0.45822303,  0.91734656, -0.58367486],
       [ 0.52096228,  0.19831578,  1.07827317, -0.1932547 ],
       [-1.00084012, -0.60789193, -0.26654601, -1.43302461]])

In [55]:
data[data[:,3] < 0, :] = 0
data

array([[ 0.        ,  0.        ,  0.        ,  0.        ],
       [ 0.36999085,  0.51460615,  0.92337937,  0.5457696 ],
       [ 0.        ,  0.        ,  0.        ,  0.        ],
       [ 0.        ,  0.        ,  0.        ,  0.        ],
       [-1.07776168,  0.75038408,  0.63295958,  0.08179247],
       [ 1.17908527, -1.00034993, -0.46601618,  1.524507  ],
       [-2.0005997 ,  0.26020164,  0.12927651,  0.11812361]])

# Markdown Test
## Markdown test
### Markdown test

- List test
- List test
- List test

* Aster List
* Aster List
* Aster List

In [56]:
"""Many
Lines
with strings
in code"""

'Many\nLines\nwith strings\nin code'

#### Just use Markdown for clarity
## Google it for more informations

In [63]:
a = [1, 2]
b = [3,4]
a + b # python list with '+' operator just yields concatenated list

[1, 2, 3, 4]

In [64]:
# Numpy array with '+' operator yields elementwisely added array
a = np.array([1,2])
b = np.array([3,4])
a + b

array([4, 6])

In [65]:
arr = np.array([1,2,3,4,5])
arr * 2

array([ 2,  4,  6,  8, 10])

In [66]:
# Inner product of array
a = np.array([1,2,3,4,5])
b = np.array([6,7,8,9,10])
sum(a * b)

130

In [67]:
# Arrays with different shape cannot be inner producted
a = np.array([1,2,3,4])
b = np.array([1,2,3])
sum(a * b)

ValueError: operands could not be broadcast together with shapes (4,) (3,)

In [68]:
# Tuples with '+' operator also gets concatenated
(1, 2, 3) + (4, 5, 6)

(1, 2, 3, 4, 5, 6)

## Universal Function: ufunc

In [70]:
## is this function universal function?
np.sin?

- Call signature:  np.sin(*args, **kwargs)
- Type:            ufunc
- String form:     <ufunc 'sin'>

### Yes, it is. Function's doc will say its type is ufunc when it is universal function

In [71]:
arr = np.arange(10)

In [72]:
np.sqrt(arr)

array([ 0.        ,  1.        ,  1.41421356,  1.73205081,  2.        ,
        2.23606798,  2.44948974,  2.64575131,  2.82842712,  3.        ])

In [73]:
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [74]:
np.exp(arr)

array([  1.00000000e+00,   2.71828183e+00,   7.38905610e+00,
         2.00855369e+01,   5.45981500e+01,   1.48413159e+02,
         4.03428793e+02,   1.09663316e+03,   2.98095799e+03,
         8.10308393e+03])

In [76]:
x = np.random.randn(8)
y = np.random.randn(8)

In [77]:
x

array([-0.88177062, -0.47669068, -1.46358347, -1.03582698, -0.34707761,
        1.94515004,  1.35881855, -0.86573517])

In [78]:
y

array([ 0.61244569, -0.01545835,  1.56887739, -1.12868894,  0.35877779,
        0.71941322,  0.46669869,  0.66409999])

In [79]:
np.maximum(x, y)

array([ 0.61244569, -0.01545835,  1.56887739, -1.03582698,  0.35877779,
        1.94515004,  1.35881855,  0.66409999])

In [80]:
# Sorting array
arr = np.random.randn(8)
arr

array([ 1.33908321, -1.10146021, -0.07879509,  0.56631969, -0.1046969 ,
        0.48718783,  0.4562424 , -0.22507964])

In [81]:
arr.sort()

In [82]:
arr

array([-1.10146021, -0.22507964, -0.1046969 , -0.07879509,  0.4562424 ,
        0.48718783,  0.56631969,  1.33908321])

In [83]:
arr = np.random.randn(5,3)

In [84]:
arr

array([[ -3.87304504e-01,  -2.92731592e-01,  -4.18899805e-01],
       [  2.45200772e-01,  -1.72587438e+00,   1.05881876e+00],
       [ -1.14787364e+00,  -1.16394780e-03,  -4.19662057e-01],
       [  4.11752047e-01,   3.51095104e-01,   1.02760120e+00],
       [ -1.88837800e+00,   9.59150577e-01,  -1.12031510e+00]])

In [86]:
# Row Sort (Sort by Row)
# Remind that axis = 1 means column
# then sort by axis 1 meanes sort in the direction of column progressing
arr.sort(1)
arr

array([[ -4.18899805e-01,  -3.87304504e-01,  -2.92731592e-01],
       [ -1.72587438e+00,   2.45200772e-01,   1.05881876e+00],
       [ -1.14787364e+00,  -4.19662057e-01,  -1.16394780e-03],
       [  3.51095104e-01,   4.11752047e-01,   1.02760120e+00],
       [ -1.88837800e+00,  -1.12031510e+00,   9.59150577e-01]])

In [87]:
# Column Sort (Sort by Column)
# Sorted in the direction of row progressing
arr.sort(0)

In [88]:
arr

array([[ -1.88837800e+00,  -1.12031510e+00,  -2.92731592e-01],
       [ -1.72587438e+00,  -4.19662057e-01,  -1.16394780e-03],
       [ -1.14787364e+00,  -3.87304504e-01,   9.59150577e-01],
       [ -4.18899805e-01,   2.45200772e-01,   1.02760120e+00],
       [  3.51095104e-01,   4.11752047e-01,   1.05881876e+00]])

In [91]:
# universal function practice
arr = np.arange(1,10)
arr

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [93]:
np.sqrt(arr)

array([ 1.        ,  1.41421356,  1.73205081,  2.        ,  2.23606798,
        2.44948974,  2.64575131,  2.82842712,  3.        ])

In [96]:
x = np.random.rand(10)
y = np.random.rand(10)
z = np.random.rand(10)

In [97]:
x

array([ 0.59288571,  0.01238096,  0.56754405,  0.9154481 ,  0.80503435,
        0.26887873,  0.4872167 ,  0.34162014,  0.43621134,  0.02437027])

In [98]:
y

array([ 0.18699032,  0.26539787,  0.34244135,  0.8384735 ,  0.71157069,
        0.56286369,  0.52392902,  0.39409163,  0.42466893,  0.33896387])

In [99]:
z

array([ 0.55487497,  0.16379701,  0.13976632,  0.83617093,  0.52279669,
        0.4269034 ,  0.97376913,  0.51773378,  0.15081173,  0.70002636])

In [100]:
np.maximum(x, y, z)

array([ 0.59288571,  0.26539787,  0.56754405,  0.9154481 ,  0.80503435,
        0.56286369,  0.52392902,  0.39409163,  0.43621134,  0.33896387])

In [101]:
arr2 = np.random.randn(6,5)
arr2

array([[ 0.35826623,  0.16746597,  0.75907843,  1.18027552, -0.2458713 ],
       [ 0.51602582,  2.12560703,  2.04499698, -0.15009409, -1.71168439],
       [ 2.9229527 , -0.61054473, -0.67247014, -1.87807973, -0.58462992],
       [-0.50829212, -0.63760614,  0.43392239,  0.17972045,  0.53582617],
       [ 1.00954854, -0.28439978, -1.02048625, -0.21549885, -1.42594827],
       [-0.09772108, -0.91093583,  2.69267819, -0.15538466,  0.26870125]])

In [102]:
arr2.sum()

4.0854184081134353

In [103]:
arr2.mean()

0.13618061360378117

In [104]:
arr2.sum(axis = 0)

array([ 4.20078008, -0.15041347,  4.2377196 , -1.03906136, -3.16360645])

In [105]:
arr2.sum(axis  = 1)

array([ 2.21921485,  2.82485135, -0.82277182,  0.00357076, -1.93678461,
        1.79733787])

In [106]:
arr2 > 0

array([[ True,  True,  True,  True, False],
       [ True,  True,  True, False, False],
       [ True, False, False, False, False],
       [False, False,  True,  True,  True],
       [ True, False, False, False, False],
       [False, False,  True, False,  True]], dtype=bool)

In [108]:
(arr2 > 0).sum()

14

In [113]:
arr3 = np.random.randn(7)
arr3

array([-1.42269245, -1.10338634, -0.35812521, -1.25943329, -1.66669781,
       -1.97931769, -0.68346773])

In [110]:
arr3.sort()

In [111]:
arr3

array([-2.05501578, -0.82464563, -0.50793085, -0.25478527, -0.18064889,
       -0.05709159,  1.52456153])

In [114]:
# does not sort original
np.sort(arr3)

array([-1.97931769, -1.66669781, -1.42269245, -1.25943329, -1.10338634,
       -0.68346773, -0.35812521])

In [118]:
# sort by descending
np.sort(arr3)[::-1]

array([-0.35812521, -0.68346773, -1.10338634, -1.25943329, -1.42269245,
       -1.66669781, -1.97931769])

In [119]:
arr4 = np.random.randn(5,3)

In [120]:
arr4

array([[ 0.10452088,  0.38482485,  0.91864412],
       [ 0.72968744, -0.78076762,  0.18900778],
       [ 2.0061316 , -1.82658968, -0.66746344],
       [ 1.73524564, -1.06983723,  1.44724079],
       [-0.20169243,  0.53277382,  1.99962935]])

In [121]:
np.sort(arr4, axis = 0)

array([[-0.20169243, -1.82658968, -0.66746344],
       [ 0.10452088, -1.06983723,  0.18900778],
       [ 0.72968744, -0.78076762,  0.91864412],
       [ 1.73524564,  0.38482485,  1.44724079],
       [ 2.0061316 ,  0.53277382,  1.99962935]])

In [122]:
np.sort(arr4, axis = 1)

array([[ 0.10452088,  0.38482485,  0.91864412],
       [-0.78076762,  0.18900778,  0.72968744],
       [-1.82658968, -0.66746344,  2.0061316 ],
       [-1.06983723,  1.44724079,  1.73524564],
       [-0.20169243,  0.53277382,  1.99962935]])

In [123]:
np.sort(arr4)[::-1]

array([[-0.20169243,  0.53277382,  1.99962935],
       [-1.06983723,  1.44724079,  1.73524564],
       [-1.82658968, -0.66746344,  2.0061316 ],
       [-0.78076762,  0.18900778,  0.72968744],
       [ 0.10452088,  0.38482485,  0.91864412]])

In [124]:
np.sort(arr4,axis=1)[::-1]

array([[-0.20169243,  0.53277382,  1.99962935],
       [-1.06983723,  1.44724079,  1.73524564],
       [-1.82658968, -0.66746344,  2.0061316 ],
       [-0.78076762,  0.18900778,  0.72968744],
       [ 0.10452088,  0.38482485,  0.91864412]])

In [125]:
np.sort(arr4,axis=0)[::-1]

array([[ 2.0061316 ,  0.53277382,  1.99962935],
       [ 1.73524564,  0.38482485,  1.44724079],
       [ 0.72968744, -0.78076762,  0.91864412],
       [ 0.10452088, -1.06983723,  0.18900778],
       [-0.20169243, -1.82658968, -0.66746344]])

In [126]:
names = np.array(["sunyoung", "pyo", "sunny", "sunyoung", "pyo", "sunny", "sunyoung"])
value = np.array([3,3,3,2,2,1,1,4,4])

In [127]:
np.unique(names)

array(['pyo', 'sunny', 'sunyoung'],
      dtype='<U8')

In [128]:
np.unique(value)

array([1, 2, 3, 4])

In [129]:
arr = np.array([1,2,3,4,5])

In [130]:
arr

array([1, 2, 3, 4, 5])

In [131]:
np.cumsum(arr)

array([ 1,  3,  6, 10, 15], dtype=int32)

In [132]:
arr = np.random.randn(3,3)

In [133]:
arr

array([[-0.38250865,  0.84205003,  0.87160144],
       [-0.1825219 , -2.51322212,  2.51807455],
       [-0.28399395,  0.10428806, -0.45378517]])

In [134]:
arr.cumsum(0)

array([[-0.38250865,  0.84205003,  0.87160144],
       [-0.56503056, -1.67117209,  3.38967599],
       [-0.8490245 , -1.56688403,  2.93589082]])

In [135]:
arr.cumsum()

array([-0.38250865,  0.45954138,  1.33114282,  1.14862092, -1.36460121,
        1.15347334,  0.8694794 ,  0.97376746,  0.51998229])

## Pandas

In [136]:
import numpy as np # should be imported together with pandas
import pandas as pd

In [137]:
# 1-D data, Series
sr1 = pd.Series([-4,10,9,-7,3])
sr1

0    -4
1    10
2     9
3    -7
4     3
dtype: int64

In [138]:
sr1.dtype

dtype('int64')

In [142]:
sr2 = pd.Series([-4,10,9,-7,3], index = ['a','b','c','d','e'])

In [143]:
sr2

a    -4
b    10
c     9
d    -7
e     3
dtype: int64

In [146]:
sd = {'sunyoung': 1000000, 'pyo': 99999, 'gildong': 900000, 'bts':10009}
sr3 = pd.Series(sd)

In [147]:
sr3

bts           10009
gildong      900000
pyo           99999
sunyoung    1000000
dtype: int64

In [148]:
sr3.name = "salary"

In [149]:
sr3

bts           10009
gildong      900000
pyo           99999
sunyoung    1000000
Name: salary, dtype: int64

In [150]:
sr3.index.name = "name"

In [151]:
sr3

name
bts           10009
gildong      900000
pyo           99999
sunyoung    1000000
Name: salary, dtype: int64

In [152]:
data = {"names": ["sunyoung", "sunyoung", "sunyoung", "jungjae", "jungjae"],
        "year": [2016, 2017, 2018, 2015, 2016],
        "points": [1.5, 1.7, 3.6, 2.4, 2.9]}

In [153]:
data

{'names': ['sunyoung', 'sunyoung', 'sunyoung', 'jungjae', 'jungjae'],
 'points': [1.5, 1.7, 3.6, 2.4, 2.9],
 'year': [2016, 2017, 2018, 2015, 2016]}

In [154]:
# 2-D array, DataFrame
df = pd.DataFrame(data)

In [155]:
df

      names  points  year
0  sunyoung     1.5  2016
1  sunyoung     1.7  2017
2  sunyoung     3.6  2018
3   jungjae     2.4  2015
4   jungjae     2.9  2016

In [156]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [157]:
df.columns

Index(['names', 'points', 'year'], dtype='object')

In [158]:
df.values

array([['sunyoung', 1.5, 2016],
       ['sunyoung', 1.7, 2017],
       ['sunyoung', 3.6, 2018],
       ['jungjae', 2.4, 2015],
       ['jungjae', 2.9, 2016]], dtype=object)

In [159]:
df2 = pd.DataFrame(data, columns=["year", "names", "points", "penalty"],
                          index=["one", "two", "three", "four", "five"])

In [161]:
df2
#columns not containing data make it as NaN

       year     names  points penalty
one    2016  sunyoung     1.5     NaN
two    2017  sunyoung     1.7     NaN
three  2018  sunyoung     3.6     NaN
four   2015   jungjae     2.4     NaN
five   2016   jungjae     2.9     NaN

In [163]:
df2.index

Index(['one', 'two', 'three', 'four', 'five'], dtype='object')

In [164]:
df2.columns

Index(['year', 'names', 'points', 'penalty'], dtype='object')

In [166]:
# Statistical summary for columns (except string columns)
df.describe()

         points         year
count  5.000000     5.000000
mean   2.420000  2016.400000
std    0.864292     1.140175
min    1.500000  2015.000000
25%    1.700000  2016.000000
50%    2.400000  2016.000000
75%    2.900000  2017.000000
max    3.600000  2018.000000

In [168]:
df.describe

<bound method NDFrame.describe of       names  points  year
0  sunyoung     1.5  2016
1  sunyoung     1.7  2017
2  sunyoung     3.6  2018
3   jungjae     2.4  2015
4   jungjae     2.9  2016>

In [169]:
pop = {'Nevada': {2001: 2.4, 2002: 2.9}, 'Ohio': {2000: 1.5, 2001: 1.7, 2002:3.6}}

In [170]:
frame3 = pd.DataFrame(pop)
frame3

      Nevada  Ohio
2000     NaN   1.5
2001     2.4   1.7
2002     2.9   3.6

In [171]:
p = {'Ohio': frame3['Ohio'][:-1], 'Nevada': frame3['Nevada']}

In [172]:
p

{'Nevada': 2000    NaN
 2001    2.4
 2002    2.9
 Name: Nevada, dtype: float64, 'Ohio': 2000    1.5
 2001    1.7
 Name: Ohio, dtype: float64}

In [173]:
pd.DataFrame(p)

      Nevada  Ohio
2000     NaN   1.5
2001     2.4   1.7
2002     2.9   NaN

In [174]:
df2

       year     names  points penalty
one    2016  sunyoung     1.5     NaN
two    2017  sunyoung     1.7     NaN
three  2018  sunyoung     3.6     NaN
four   2015   jungjae     2.4     NaN
five   2016   jungjae     2.9     NaN

In [175]:
df2['names']

one      sunyoung
two      sunyoung
three    sunyoung
four      jungjae
five      jungjae
Name: names, dtype: object

In [176]:
df2['year']

one      2016
two      2017
three    2018
four     2015
five     2016
Name: year, dtype: int64

In [177]:
df2.names

one      sunyoung
two      sunyoung
three    sunyoung
four      jungjae
five      jungjae
Name: names, dtype: object

In [178]:
df2.year

one      2016
two      2017
three    2018
four     2015
five     2016
Name: year, dtype: int64

In [182]:
df3 = df2.copy()
df3

       year     names  points penalty
one    2016  sunyoung     1.5     NaN
two    2017  sunyoung     1.7     NaN
three  2018  sunyoung     3.6     NaN
four   2015   jungjae     2.4     NaN
five   2016   jungjae     2.9     NaN

In [183]:
del df3['year']

In [184]:
df3

          names  points penalty
one    sunyoung     1.5     NaN
two    sunyoung     1.7     NaN
three  sunyoung     3.6     NaN
four    jungjae     2.4     NaN
five    jungjae     2.9     NaN

In [185]:
# Not permitted... only availabe in early stages of panda development
del df3.year

AttributeError: year

In [186]:
df3 = df2.copy()

In [189]:
# Indexing multiple columns.. .must be given as list
df2[['names','points']]

          names  points
one    sunyoung     1.5
two    sunyoung     1.7
three  sunyoung     3.6
four    jungjae     2.4
five    jungjae     2.9

In [191]:
# colons (:) not available for indexing
df2[['names':'points']]

SyntaxError: invalid syntax (<ipython-input-191-d3db1fd1eef6>, line 2)

In [197]:
df2['two':'four']

       year     names  points penalty
two    2017  sunyoung     1.7     NaN
three  2018  sunyoung     3.6     NaN
four   2015   jungjae     2.4     NaN